[Unit]
Description=gunicorn daemon for electrocom console
Requires=gunicorn-console-electrocom.socket
After=network.target

[Service]
User=vaibhav
Group=www-data
WorkingDirectory=/home/vaibhav/Prod-ConsoleAPI
Environment="PATH=/home/vaibhav/Prod-ConsoleAPI/venv/bin"
Environment="GOOGLE_APPLICATION_CREDENTIALS=/home/vaibhav/Prod-ConsoleAPI/firebase-admin-sdk-key.json"
# optionally load more environment variables:
# EnvironmentFile=/home/vaibhav/electrocom/.env

ExecStart=/home/vaibhav/Prod-ConsoleAPI/venv/bin/gunicorn \
  --access-logfile - \
  --error-logfile - \
  --workers 3 \
  --bind unix:/run/gunicorn-console-electrocom.sock \
  API.wsgi:application

# Restart on failure
Restart=always

[Install]
WantedBy=multi-user.target

