amqp==5.3.1
asgiref==3.10.0
async-timeout==5.0.1
billiard==4.2.2
celery==5.3.4
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cron_descriptor==2.0.6
Django==4.2.25
django-celery-beat==2.5.0
django-celery-results==2.5.1
django-cors-headers==4.3.1
django-dotenv==1.4.2
django-jazzmin==3.0.1
django-timezone-field==7.1
djangorestframework==3.14.0
dotenv==0.9.9
drf-yasg==1.21.7
et_xmlfile==2.0.0
gunicorn==23.0.0
inflection==0.5.1
kombu==5.6.0
numpy==2.0.2
openpyxl==3.1.5
packaging==25.0
pandas==2.2.3
pillow==11.3.0
prompt_toolkit==3.0.52
psycopg2==2.9.11
psycopg2-binary==2.9.11
python-crontab==3.3.0
python-dateutil==2.9.0
python-dotenv==1.2.1
pytz==2024.1
PyYAML==6.0.3
redis==5.0.1
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
vine==5.1.0
wcwidth==0.2.14
firebase-admin==6.5.0
